<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" >Memorizer infini : Holiday version</a>
    </div>

</nav>
<div class="container">
    <form ng-submit="register()">
        <p>User name</p>
        <input type="text" ng-model="username">
        <p>Password</p>
        <input type="text" ng-model="passwordentry">
        <p>Email adress</p>
        <input type="text" ng-model="emailadress">
        <input type="submit" class="btn btn-default" value="Register">
    </form>
</div>