<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" >Memorizer infini : Holiday version</a>
    </div>

    <form class="navbar-form navbar-left" ng-submit="signout()">
        <div>
            <input type="submit" class="btn btn-default" value="Signout">
        </div>
    </form>
    <form class="navbar-form navbar-left" ng-submit="addPage()">
        <div class="container row">
            <input type="submit" class="btn btn-default" value="Add new memo">
        </div>
    </form>
    <form class="navbar-form navbar-left" ng-submit="chat()">
        <div class="container row">
            <input type="submit" class="btn btn-default" value="Chatroom">
        </div>
    </form>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>Memos</h3>
            <ul>
                <div ng-repeat="Memo in listememos">
                    <a ng-click="setMemo(Memo.MemoID)">
                        <li>{{Memo.Titre}}</li>
                    </a>
                </div>
            </ul>
        </div>
        <div class="col-md-9">
            <h2>{{memotitre}}</h2>
            <form ng-submit="addOrUpdateMemo()">
                <textarea id="memoenter" ng-model="memoContenu" >{{memoContenu}}</textarea>
                <div class="container row">
                    <input type="submit" class="btn btn-default" value="Update current">
                </div>
            </form>

        </div>
    </div>

</div>